#cover-box-msg, #notLogedIn {
    display: none;
    position: absolute;
    top: 20vh;
    left: 20vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#notLogedIn {
    top: 45vh;
    left: 35vw;
}

#meldung {
    display: grid;
    place-items: center;
}

#uploadMsgBox, .uploadV-box #meldung #uploadMsgBox {
    position: relative;
    width: 40vw;
    display: grid;
    gap: 8px;
    min-height: 10vh;
    place-items: center;
}

.uploadV-box #meldung #uploadMsgBox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
}

.uploadV-box #removeMsg {
    right: 3px;
    top: 0px;
}

.uploadMsg {
    background-color: aliceblue;
    color: black;
    width: 95%;
    padding: 5px;
    margin: 0;
}

#removeMsg {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -14px;
    padding: 0 5px;
}